body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #222;
  padding: 20px;
  margin: 0;
}

header {
  background-color: #003366;
  color: white;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}
.dark-mode {
  background-color: #121212;
  color: #eee;
}

.dark-mode header {
  background-color: #222;
}
.approfondimento {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #ccc;
}

.approfondimento h2 {
  color: #003366;
}

.approfondimento a {
  color: #004080;
  text-decoration: none;
  font-weight: bold;
}

.dark-mode footer {
  background-color: #111;
  color: #ccc;
}

.dark-mode nav a {
  color: #ffcc00;
}
.scheda-autore {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 20px auto;
  max-width: 700px;
  border-radius: 8px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.scheda-autore h2 {
  margin-top: 0;
  color: #003366;
}

.scheda-autore a {
  text-decoration: none;
  font-weight: bold;
  color: #004080;
}
